link(rel='stylesheet', href='css/owl.carousel.min.css')
link(rel='stylesheet', href='css/carousel.css')
script(src='js/jquery.min.js')
script(src='js/owl.carousel.min.js')

.wrapper
	.owl-carousel.slide-one
		.item
			img(src='img/1.png')
		.item
			img(src='img/2.png')
		.item
			img(src='img/3.png')
	.owl-carousel.slide-two
		.item
			img(src='img/1.png')
		.item
			img(src='img/2.png')
		.item
			img(src='img/3.png')
	.owl-carousel.slide-three
		.item
			img(src='img/1.png')
		.item
			img(src='img/2.png')
		.item
			img(src='img/3.png')
				n
script(src='js/app.js')
